<html>
	<head>
	    <title>Deletar Professor</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form action="/deleteProfessor" method="POST" modelAttribute="professor">
		
			ID:<br>
  			<input type="text" name="id" th:value="${professor.id}" readOnly="true"><br>
  			<br>
  			Nome:<br>
  			<input type="text" name="nome" th:value="${professor.nome}" readOnly="true"><br>
  			<br>
  			CPF:<br>
  			<input type="text" name="cpf" th:value="${professor.cpf}" readOnly="true"><br>
  			<br>
  			Idade:<br>
  			<input type="text" name="idade" th:value="${professor.idade}" readOnly="true"><br>
  			<br>
  			Modalidade:<br>
  			<input type="text" name="modalidade"
  			
  			th:each="modalidade : ${modalidades}"
      				  th:if="${modalidade.id} == ${professor.modalidade_id}"
  					 
  			
  			
  			 th:value="${modalidade.nome}" readOnly="true"><br>
  			<br>
     
  			<br>
  			<input type="submit" value="Deletar">
  			<input type="button" value="Voltar" onClick="history.go(-1)">
		</form>
	</body>
</html>