<html>
	<head>
	    <title>Inserir Ficha</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form  th:action="@{/insertFicha}" method="POST" th:object="${ficha}">
		
  			Tipo Ficha:<br>
  			<input type="text" th:field="*{tipoFicha}"><br>
  			<br>
  			Letra Ficha:<br>
  			<input type="text"  maxlength="1" th:field="*{letraFicha}"><br>
  			<br>
  			Aluno:<br>
    <select th:field="*{ficha.alunos}" class="form-control">
       <option th:each="alunos: ${aluno}" th:value="${aluno.id}" th:text="${aluno.name}"></option>
    </select>
  			Professor:<br>
    <select th:field="*{ficha.professores}" class="form-control">
       <option th:each="professores: ${professor}" th:value="${professor.id}" th:text="${professor.name}"></option>
    </select>
  			<br>
  			Exercícios 1:<br>
    <select th:field="${ficha.itens}" class="form-control" >
       <option th:each="item: ${itens}" th:value="${itens.id}" th:text="${itens.nome}"></option>
    </select> 
  			<br>
  			<br>
  			Exercícios 2:<br>
   <select th:field="${ficha.itens}" class="form-control" >
       <option th:each="item: ${itens}" th:value="${itens.id}" th:text="${itens.nome}"></option>
    </select> 
  			<br>
  			<br>
  			Exercícios 3:<br>
    <select th:field="${ficha.itens}" class="form-control" >
       <option th:each="item: ${itens}" th:value="${itens.id}" th:text="${itens.nome}"></option>
    </select> 
  			<br>
  			<br>
  			Exercícios 4:<br>
    <select th:field="${ficha.itens}" class="form-control" >
       <option th:each="item: ${itens}" th:value="${itens.id}" th:text="${itens.nome}"></option>
    </select> 
  			<br>
			<br>    
		<input type="submit" value="Inserir">
		</form>
	</body>
</html>