<html>
	<head>
	    <title>Inserir Aluno</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form action="/insertAluno" method="POST" modelAttribute="aluno"> 
  			Nome:<br>
  			<input type="text" name="nome"><br>
  			<br>
  			CPF:<br>
  			<input type="text" name="cpf"><br>
  			<br>
  			Idade:<br>
  			<input type="text" name="idade"><br>
  			<br>
  			Altura:<br>
  			<input type="text" name="altura"><br>
			<br>
			Peso:<br>
  			<input type="text" name="peso"><br>
			<br>    
		<input type="submit" value="Inserir">
		<input type="button" value="Voltar" onClick="history.go(-1)"> 
		</form>
	</body>
</html>