<html>
	<head>
	    <title>Inserir Ficha</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
	
		<a href="insertItemFicha">Criar itens para ficha</a> | 
		<a href="readItensFicha">Ver itens para ficha</a> | 
		<a href="readExercicios">Criar Exercícios</a> |
		<a href="painelFichas">Dashboard Fichas</a> <br><br>
	
		<form  th:action="@{/insertFicha}" method="POST" th:object="${ficha}">
		
  			Tipo Ficha:<br>
  			<input type="text" th:field="*{tipoFicha}"><br>
  			<br>
  			Letra Ficha:<br>
  			<input type="text"  maxlength="1" th:field="*{fichaLetra}"><br>
  			<br>
  			Aluno:<br>
    <select name="aluno_id">
  				<option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
			</select>
			<br>
			<br>
  			Professor:<br>
    <select name="professor_id">
  				<option th:each="professor : ${professores}" th:value="${professor.id}" th:text="${professor.nome}"></option>
			</select>
  			<br>
  			<br>
  			Item 1:<br>
    <select name="itemExercicio1_id">
  				<option th:each="itemFicha : ${itensFicha}" 
  				th:value="${itemFicha.id}" 
  				th:text="'Exercício:' + ${itemFicha.exercicio_id} + 
  				'|Séries:' + ${itemFicha.serie} + 
  				'|Repetição:' + ${itemFicha.repeticao} + 
  				'|Descanso:' + ${itemFicha.descanso}"></option>
			</select> 
  			<br>
  			<br>
  			Item 2:<br>
   <select name="itemExercicio2_id">
  				<option th:each="itemFicha : ${itensFicha}" 
  				th:value="${itemFicha.id}" 
  				th:text="'Exercício:' + ${itemFicha.exercicio_id} + 
  				'|Séries:' + ${itemFicha.serie} + 
  				'|Repetição:' + ${itemFicha.repeticao} + 
  				'|Descanso:' + ${itemFicha.descanso}"></option>
			</select> 
  			<br>
  			<br>
			Item 3:<br>
  			 <select name="itemExercicio3_id">
  				<option th:each="itemFicha : ${itensFicha}" 
  				th:value="${itemFicha.id}" 
  				th:text="'Exercício:' + ${itemFicha.exercicio_id} +
  				'|Séries:' + ${itemFicha.serie} + 
  				'|Repetição:' + ${itemFicha.repeticao} + 
  				'|Descanso:' + ${itemFicha.descanso}"></option>
			</select> 
  			<br>
  			<br>
  			Item 4:<br>
     <select name="itemExercicio4_id">
  				<option th:each="itemFicha : ${itensFicha}" 
  				th:value="${itemFicha.id}" 
  				th:text="'Exercício:' + ${itemFicha.exercicio_id} + 
  				'|Séries:' + ${itemFicha.serie} + 
  				'|Repetição:' + ${itemFicha.repeticao} + 
  				'|Descanso:' + ${itemFicha.descanso}"></option>
			</select> 
  			<br>
  			<br>  
  			
		<input type="submit" value="Inserir">
		<input type="button" value="Voltar" onClick="history.go(-1)">
		</form>
	</body>
</html>