<html>
	<head>
	    <title>Inserir Modalidade</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form action="/insertModalidade" method="POST" modelAttribute="modalidade">
		
  			Nome:<br>
  			<input type="text" name="nome"><br>
  			<br>
  			Aerobico:<br>
  			<input type="checkbox" name="aerobico" th:checked="${modalidade.aerobico} ? 'checked'"><br>
  			<br>
  			<br>
  			
  			<input type="submit" value="Inserir">
  			<input type="button" value="Voltar" onClick="history.go(-1)">
		</form>
	</body>
</html>