<html>
	<head>
	    <title>Inserir Professor</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form  th:action="@{/insertProfessor}" method="POST" th:object="${professor}">
		
  			Nome:<br>
  			<input type="text" th:field="*{nome}"><br>
  			<br>
  			CPF:<br>
  			<input type="text"  th:field="*{cpf}"><br>
  			<br>
  			Idade:<br>
  			<input type="text"  th:field="*{idade}"><br>
  			<br>
  			Modalidade:<br>
    <select name="modalidade_id">
  				<option th:each="modalidade : ${modalidades}" th:value="${modalidade.id}" th:text="${modalidade.nome}"></option>
			</select>
			<br>    
		<input type="submit" value="Inserir">
		<input type="button" value="Voltar" onClick="history.go(-1)">
		</form>
	</body>
</html>