<html>
	<head>
	    <title>Inserir Professor</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form  th:action="@{/insertProfessor}" method="POST" th:object="${professor}">
		
  			Nome:<br>
  			<input type="text" th:field="*{nome}"><br>
  			<br>
  			CPF:<br>
  			<input type="text"  th:field="*{cpf}"><br>
  			<br>
  			Idade:<br>
  			<input type="text"  th:field="*{idade}"><br>
  			<br>
  			Modalidade:<br>
    <select th:field="*{modalidades}" class="form-control">
       <option th:each="modalidades: ${modalidade}" th:value="${modalidade.id}" th:text="${modalidade.name}"></option>
    </select>
			<br>    
		<input type="submit" value="Inserir">
		</form>
	</body>
</html>