<html>
	<head>
	    <title>Inserir Professor</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form action="/insertProfessor" method="POST" modelAttribute="professor">
		
  			Nome:<br>
  			<input type="text" name="nome"><br>
  			<br>
  			CPF:<br>
  			<input type="text" name="cpf"><br>
  			<br>
  			Idade:<br>
  			<input type="text" name="idade"><br>
  			<br>
    <select class="form-control" th:field="${modalidade.id}">
    <option value="0">selecione a modalidade</option>
    <option th:each="modalidade : ${modalidades}" th:value="${modalidade.id}" th:text="${modalidade.nome}"></option>
    </select>
			<br>    
		<input type="submit" value="Inserir">
		</form>
	</body>
</html>