<html>
	<head>
		<title>Itens da Ficha</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		</style>
	</head>
	<body>
	<a href="insertFicha">Voltar para a Ficha</a> <br>
	
		<table style="width:100%">
			<tr>
			
			    <th>ID</td>
			    <th>Exercício</td>
			    <th>Descrição</td>
			    <th>Séries</td>
			    <th>Repetições</td>
			    <th>Descanso</td>
			    <th>Excluir?</td>
			    <th>Alterar?</td>
			</tr>
			<tr th:each="itemFicha : ${itensFicha}">
				<td th:text="${itemFicha.id}"></td>
			    <td th:each="exercicio : ${exercicios}"
      				  th:if="${exercicio.id} == ${itemFicha.exercicio_id}"
  					  th:text="${exercicio.nome}">
  				</td >
			    <td th:text="${itemFicha.descricao}"></td>
			    <td th:text="${itemFicha.serie}"></td>
			    <td th:text="${itemFicha.repeticao}"></td>
			    <td th:text="${itemFicha.descanso}"></td>
			    
			    <td><a th:href="@{deleteItemFicha(id=${itemFicha.id})}">Deletar</a></td>
			    <td><a th:href="@{updateItemFicha(id=${itemFicha.id})}">Alterar</a></td>
			</tr>
		</table>
	</body>
</html>