<html>
	<head>
		<title>Ver todos Alunos</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		</style>
	</head>
	<body>
	<a href="insertAluno">Inserir Aluno</a>S | 
	<a href="painelAdm">Dashboard Administrativo</a> <br><br>
		<table style="width:100%">
			<tr>
			
			    <th>ID</td>
			    <th>Nome</td>
			    <th>Idade</td>
			    <th>CPF</td>
			    <th>Excluir?</td>
			    <th>Alterar?</td>
			</tr>
			<tr th:each="aluno : ${alunos}">
			    <td th:text="${aluno.id}"></td>
			    <td th:text="${aluno.nome}"></td>
			    <td th:text="${aluno.idade}"></td>
			    <td th:text="${aluno.cpf}"></td>
			   
			    
			    <td><a th:href="@{deleteAluno(id=${aluno.id})}">Deletar</a></td>
			    <td><a th:href="@{updateAluno(id=${aluno.id})}">Alterar</a></td>
			</tr>
		</table>
		<br>
	</body>
</html>