<html>
	<head>
		<title>Professores</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
		</style>
	</head>
	<body>
		<a href="insertProfessor">Inserir Professor</a> |
	<a href="painelAdm">Dashboard Administrativo</a><br><br>
		<table style="width:100%">
			<tr>
			
			    <th>ID</td>
			    <th>Nome</td>
			    <th>Idade</td>
			    <th>CPF</td>
			    <th>Modalidade</td>
			    <th>Excluir?</td>
			    <th>Alterar?</td>
			</tr>
			<tr th:each="professor : ${professores}">
			    <td th:text="${professor.id}"></td>
			    <td th:text="${professor.nome}"></td>
			    <td th:text="${professor.idade}"></td>
			    <td th:text="${professor.cpf}"></td>
			    
			    <td th:each="modalidade : ${modalidades}"
      				  th:if="${modalidade.id} == ${professor.modalidade_id}"
  					  th:text="${modalidade.nome}">
  				</td >
			   
			    <td><a th:href="@{deleteProfessor(id=${professor.id})}">Deletar</a></td>
			    <td><a th:href="@{updateProfessor(id=${professor.id})}">Alterar</a></td>
			</tr>
		</table>
	</body>
</html>