<html>
	<head>
	    <title>Atualizar Ficha</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form action="/updateFicha" method="POST" modelAttribute="ficha">
		
			ID:<br>
  			<input type="text" name="id" th:value="${ficha.id}" readOnly="true"><br>
  			<br>
  			Tipo Ficha:<br>
  			<input type="text" name="tipoFicha" th:value="${ficha.tipoFicha}"><br>
  			<br>
  			Letra Ficha:<br>
  			<input type="text" name="fichaLetra" th:value="${ficha.fichaLetra}"><br>
  			<br>
  			Aluno:<br>
    <select name="aluno_id">
  				<option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
			</select>
			<br>
			<br>
  			Professor:<br>
    <select name="professor_id">
  				<option th:each="professor : ${professores}" th:value="${professor.id}" th:text="${professor.nome}"></option>
			</select>
  			<br>
  			<br>
  			Item 1:<br>
    <select name="itemExercicio1_id">
  				<option th:each="itemFicha : ${itensFicha}" 
  				th:value="${itemFicha.id}" 
  				th:text="'Exercício:' + ${itemFicha.exercicio_id} + 
  				'|Séries:' + ${itemFicha.serie} + 
  				'|Repetição:' + ${itemFicha.repeticao} + 
  				'|Descanso:' + ${itemFicha.descanso}"></option>
			</select> 
  			<br>
  			<br>
  			Item 2:<br>
   <select name="itemExercicio2_id">
  				<option th:each="itemFicha : ${itensFicha}" 
  				th:value="${itemFicha.id}" 
  				th:text="'Exercício:' + ${itemFicha.exercicio_id} + 
  				'|Séries:' + ${itemFicha.serie} + 
  				'|Repetição:' + ${itemFicha.repeticao} + 
  				'|Descanso:' + ${itemFicha.descanso}"></option>
			</select> 
  			<br>
  			<br>
			Item 3:<br>
  			 <select name="itemExercicio3_id">
  				<option th:each="itemFicha : ${itensFicha}" 
  				th:value="${itemFicha.id}" 
  				th:text="'Exercício:' + ${itemFicha.exercicio_id} + 
  				'|Séries:' + ${itemFicha.serie} + 
  				'|Repetição:' + ${itemFicha.repeticao} + 
  				'|Descanso:' + ${itemFicha.descanso}"></option>
			</select> 
  			<br>
  			<br>
  			Item 4:<br>
     <select name="itemExercicio4_id">
  				<option th:each="itemFicha : ${itensFicha}" 
  				th:value="${itemFicha.id}" 
  				th:text="'Exercício:' + ${itemFicha.exercicio_id} + 
  				'|Séries:' + ${itemFicha.serie} + 
  				'|Repetição:' + ${itemFicha.repeticao} + 
  				'|Descanso:' + ${itemFicha.descanso}"></option>
			</select> 
  			<br>
  			<br>  
  			<input type="submit" value="Atualizar">
  			<input type="button" value="Voltar" onClick="history.go(-1)">
		</form>
		
	</body>
</html>